{% block stylesheets %}
  <style>
    .custom-green-link {
      color: #0B9444 !important;
      text-decoration: none;
    }

    .custom-green-link:hover {
      text-decoration: underline;
    }

    .footer-text {
      display: inline-block;
      text-align: center;
      font-size: 0.85rem;
    }

    .footer {
      margin-top: 20px;
    }
  </style>
{% endblock stylesheets %}

<footer class="footer px-5 py-4">
    <div class="copyright mx-auto float-none text-center">
      <span class="footer-text">
        &copy; <a target="_blank" href="https://bit.ly/3fKQZaL" class="custom-green-link">Created by -</a> Everbolt IT Department
      </span>
    </div>
  </footer>
  
  